# =========================
# Secrets
# =========================
.env
.env.*

# =========================
# Build
# =========================
/target/

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temp files
# =========================
*.tmp
*.swp
*.bak